<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Drupal 8 PhoneGap Example</name>

    <description>
        An example for Drupal 8 web services using PhoneGap.
    </description>

    <author href="http://webchick.net/" email="no@thanks.com">
        Angie "webchick" Byron
    </author>

</widget>
